<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="project_form">

  <div class="form-row" id="project-row">
      <div class="form-group col-6">
      <%= form.text_field :project_name, class: "form-control", placeholder: "Project Name", required: true, id: "project_name_id" %>
      </div>
      <div class="form-group col-6">
      <%= form.text_field :reporting_manager, class: "form-control", placeholder: "Reporting Manager", required: true, id: "reporting_manager_project" %>
      </div>
  </div>

  <div class="form-row" id="project-row">
      
      <div class="form-group col-6">
      <%= form.text_field :status, class: "form-control", placeholder: "Status", required: true, id: "status_project" %>
      </div>

  </div>

  <div class="actions", id="btn_project" >
    <%= form.submit "Create Project", class: "btn btn-lg btn-primary btn-block", id: "create_project_btn"%>
  </div>
  </div>

<% end %>
