<% if current_user.role == 'admin' %>

<h3 class="pjt_view_class">Project</h3>

<%= link_to 'New Project', new_project_path, class: "btn btn-small btn-new-project", id: "project_create_new_btn" %>

<% if @projects.present? %>

<table class="table table-bordered" id="project_tble_id">
  <thead>
    <tr class="project_tble">
      <th>Sl.no</th>
      <th>Project Name</th>
      <th>Project Description</th>
      <th>Repoting To</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <td><%= project.project_name %></td>
        <td><%= project.description %></td>
        <td><%= project.reporting_manager%></td>
        <td><%= project.status%></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody> 
</table>
<%= paginate @projects %>

<% else %>
<p class="time_add_page">No Record</p>
<% end %>

<% else %>

<h3 class="pjt_view_class">Project</h3>
<% if @projects.present? %>
<table class="table table-bordered" id="project_tble_id">
  <thead>
    <tr class="project_tble">
      <th>Sl.no</th>
      <th>Project Name</th>
      <th>Project Description</th>
      <th>Repoting To</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <td><%= project.project_name %></td>
        <td><%= project.description %></td>
        <td><%= project.reporting_manager%></td>
        <td><%= project.status %></td>
        </tr>
    <% end %>
  </tbody> 
</table>
<%= paginate @projects %>

<% else %>
<p class="time_add_page">No Record</p>
<% end %>
<% end %>


