<div class="view_calendar_list">

<h3 class="attendance_date">Attendance</h3>

<p>
<%= link_to 'View Calendar', leave_to_approve_attendances_path, class: "btn btn-small btn-new-attendance", id: "calendar_id_list" %>
<% if current_user.role == 'employee' %>
<%= link_to 'Apply Leave', new_attendance_path, class: "btn btn-small btn-new-attendance", id: "att_main_new_btn", :remote => true %>
<% end %>
</p>

<% if current_user.role == 'employee' %>

<% end %>


<% if @attendances.present? %>

<% not_employee = current_user.role %>
<table class="table table-bordered" id="atten_table_id">
  <thead>
    <tr class="attendance_tble">
      <th>Sl.no</th>
      <th>Username</th>
      <th>From</th>
      <th>To</th>
      <th>No of days</th>
      <th>Reason for Leave</th>
      <th>Status</th>
      <th colspan="5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% user_role = User.roles[:manager] %>
    <% manager_name = User.find_by_role(user_role)%>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <% user_name = User.find(attendance.user_id) %>
        <td><%= user_name.first_name %></td>
        <td><%= attendance.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= attendance.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= attendance.no_of_days %></td>
        <td><%= attendance.reason_for_leave%></td>
        <td><%= attendance.status%></td>
        <% if attendance.status == "pending" && (not_employee == "manager" || not_employee == "admin") %>
            <td><%= link_to "<button>Approve</button>".html_safe, {:controller => 'attendances', :action => 'approve_to_leave'}, :onclick=>"myFunction('#{ attendance.id}','Approved'); return false;"%></td>
            <td><%= link_to "<button>Reject</button>".html_safe, {:controller => 'attendances', :action => 'approve_to_leave'}, :onclick=>"myFunction('#{ attendance.id}','Rejected'); return false;"%></td>
            <% elsif attendance.status == "Approved" && (not_employee != "employee")%>
            <td></td>
            <td></td>
            <% elsif attendance.status == "Approved"  && (not_employee == "employee")%>
            <td>
            <%= link_to "<button>Cancel Request</button>".html_safe, {:controller => 'attendances', :action => 'approve_to_leave'}, :onclick=>"myFunction('#{ attendance.id}','Cancelled'); return false;"%>
            </td>
            <td></td>
            <% elsif attendance.status == "Rejected"  && (not_employee == "admin")%>
            <td></td>
            <td></td>
            <% elsif attendance.status == "Cancelled"  && (not_employee == "admin")%>
            <td></td>
            <td></td>
            <% elsif attendance.status == "pending"  && (not_employee == "employee")%>
            <td>
            <%= link_to "<button>Cancel Request</button>".html_safe, {:controller => 'attendances', :action => 'approve_to_leave'}, :onclick=>"myFunction('#{ attendance.id}','Cancelled'); return false;"%>
            </td>
            <% else %>
              <td></td>
              </td></td>
        <% end %>
        </tr>
    <% end %>
  </tbody> 
</table>

<%= paginate @attendances %>

<br>
<% else %>
<p class="time_add_page">No Records</p>
<% end %>
</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<script type="text/javascript">
function myFunction(id,status) {
  if (status == "Approved"){
    confirm("Are you sure?");
    var message = "Approved";
  } else if (status == "Rejected")
  {
    confirm("Are you sure?");
    var message = "Rejected"
  }
 else
  {
  confirm("Are you sure?");
  var message = "Cancelled";
 }
	if (message != null && message != "") {
	
    $.ajax({
          url: "/attendances/approve_to_leave?id=" + id + "&rejected="+status+"&message=" + message,
          type: "GET",
          dataType: "json",
          success: function(data) {
            if (data.success==true)
              {
                location.reload();
              }
            else{
              alert("Leave not able to Cancel...");
            }
        }
          });
	} else {
		return false;
	}
}



</script>