<%= link_to 'Attendance List', leave_to_approve_attendances_path, class: "btn btn-small btn-new-attendance" %>

<div id='calendar'></div>

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js'></script>
<script>

document.addEventListener('DOMContentLoaded',function draw() {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2021-04-07',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          
          
          events: [
            <% @attendances.each do |a|%>
              <% if a.status == "Approved"%>
            {
              title:'<%= a.status %>',
              start:'<%= a.start_date%>',
              end:'<%= a.end_date%>',
              color: "green",
            },
            <% elsif a.status == "pending" %>
            {
              title:'<%= a.status %>',
              start:'<%= a.start_date%>',
              end:'<%= a.end_date%>',
              color: "yellow",
              textColor: "black",
            },
            <% else %>
            {
              title:'<%= a.status %>',
              start:'<%= a.start_date%>',
              end:'<%= a.end_date%>',
              color: "red",
            },
            <% end %>
            <% end %>
           
          ],
        });
        calendar.render();
      });

     </script>


