<h3 class="change_password_user_mgmnt">Change your password</h3>
<% p "444" %>
<% p @user_password%>
<% p "444" %>

<%= form_with(model: @user_password, url: {controller: "user_managements", action: "change_password_user"}, method: "put", local: true) do |f| %>
    <div id="changes_pass_form">
        <div class="form-row" id="project-row">
            <div class="form-group col-12">
            <%= f.hidden_field :email, value: @user_password.email %>
            <%= f.password_field :password, class: "form-control", placeholder: "New Password", required: true, id: "project_name_id" %>
            </div>
        </div>
        <div class="form-row" id="project-row">
    
            <div class="form-group col-12">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "New Password Confirmation", required: true, id: "project_name_id" %>
            </div>
            
        </div>
        <div class="actions", id="btn_project" >
            <%= f.submit "Change my password", class: "btn btn-lg btn-primary btn-block", id: "change_pass_user_btn"%>
        </div>
     
    </div>
  
  <% end %>
  
  