<% if current_user.role == 'admin' %>

<h3 class="plcy_class">Policy List</h3>

<% not_employee = current_user.role %>


<%= link_to 'New Policy', new_policy_path, class: "btn btn-small btn-new-project", id: "policy_new_btn" %>
<% if @policies.present? %>
<table class="table table-bordered" id="tble_policy_data">
  <thead>
    <tr class="project_tble">
      <th>Sl.no</th>
      <th>Name</th>
      <th>Policy Description</th>
      <th>Download Link</th>
      <th colspan="1">Action</th>
    </tr>
  </thead>

  <tbody>
  <% count = 0%>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <td><%= policy.name %></td>
        <td><%= policy.description %></td>
        <td><%= link_to "Download Policy", policy.attachment_url %></td>
        <% if not_employee != "employee"%>
        <td><%= button_to "Destroy", policy, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{policy.name}?" %></td>
        <% else %>
        <td></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @policies %>

<% else %>
<p class="plcy_class">No Record</p>
<% end %>
<br>

<% else %>
<h3 class="plcy_class">Policy List</h3>
<% if !@policies.present? %>
<h3 class="plcy_class">No Record</h3>
<% else %>

<table class="table table-bordered" id="tble_policy_data">
  <thead>
    <tr class="project_tble">
      <th>Sl.no</th>
      <th>Name</th>
      <th>Policy Description</th>
      <th>Download Link</th>
    </tr>
  </thead>

  <tbody>
  <% count = 0%>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= count = count + 1 %></td>
        <td><%= policy.name %></td>
        <td><%= policy.description %></td>
        <td><%= link_to "Download Policy", policy.attachment_url %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @policies %>

<% end %>
<% end %>

