
<div class="nw-attd">
    <h5>Show Policy</h5>
</div>
<%= form_with(model: @policy, local: true) do |form| %>

<div id="project_form">

  <div class="form-row" id="project-row">
      <div class="form-group col-6">
      <%= form.text_field :name, class: "form-control", placeholder: "Project Name", required: true, id: "project_name_id" %>
      </div>
      <div class="form-group col-6">
      <%= form.text_field :attachment, class: "form-control", placeholder: "Reporting Manager", required: true, id: "reporting_manager_project" %>
      </div>
  </div>

</div>
<% end %>
<div class="btn btn-lg btn-primary btn-block" >
        <%= link_to 'Edit', edit_policy_path(@policy), class: "btn_edit_back"%> |
        <%= link_to 'Back', policies_path, class: "btn_edit_back"%>
</div>